.section {
    background-color: white;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgb(218, 213, 213);
}
@media (max-width: 767px) {
    .section__header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px 50px;
    }
}
.section__button {
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 17px;
    padding: 0px 20px;
    cursor: pointer;
}

.section__button:hover {
    transition: color 1.5s;;
    color:#cecccc;
}

.section__button:disabled {
    color: #d4d0d0;
}